h1 {
    text-decoration: underline;
    font-weight: bold;
}
#container {
        margin: 0px;
        width: 500px;
        height: 200px;
        border: 1px solid #FFF;

    }

.box {
	width: 50px;
 	height: 50px;
 	padding: 10px;
 	margin: 25px;
 	border: 1px solid black;
 	color: #FFF;
}


#red {
	margin-left: 0px;
	background-color: #D84231;
	float: left;
}
#orange {
	background-color: #EAAE33;
	float: left;
}
#yellow {
	background-color: #FDF733;
	float: left;
}
#green {
	margin-left: 0px;
	background-color: #578C05;
	float: left;
	clear: left;
}
#blue {
	background-color: #244AFB;
	float: left;
}
#violet {
	background-color: #DF8BF1;
	float: left;
}
.codeup-arrow-img {
	border: none;
	position: relative;
	bottom: 80px;
	left: 40px;
}
.codeup-ribbon {
	border: none;
	position: fixed;
	top: 0px;
	right: 0px;
}